* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline;
}

div {
    box-sizing: border-box;
}

.page-wrapper {
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

/* Header1 start */
.header1 {
    background-color: rgba(3, 37, 44, 0.96);
    height: 50px;
    /* border: 1px solid brown; */
}

.hd-wrap ul li{
    padding: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.438);
    color: white;
}

.hd-wrap img {
    padding-right: 10px;
    vertical-align: middle;
}

.l-hdr {
    float: left;
}

.r-hdr {
    float: right;
}

.r-hdr ul li a {
    color: white;
}

.l-hdr ul li:last-child {
    border-right: none;
}

.r-hdr ul li:last-child {
    border-right: none;
}
/* Header1 end */

/* Header2 start */
.header2 {
    height: 60px;
    /* border: 1px solid green; */
    padding: 10px;
}

.contact-box {
    float: right;
}

.cnt-box {
    display: inline-block;
}

.cnt-box img {
    display: inline-block;
}

#cnt-box2 {
    margin-left: 30px;
}

.text {
    display: inline-block;
    margin-left: 10px;
}

.text h5:first-child {
    opacity: 0.65;
}
/* Header2 end */

/* Navbar start*/
.navbar {
    background-color: rgba(131, 48, 09, 0.88);
}

.nav ul {
    padding: 20px;
    display: inline-block;
}

.nav ul li a {
    color: white;
    padding: 15px;
}

/* .nav ul li a:hover {
    background-color: black;
} */

.search {
    float: right;
    padding: 10px;
    font-size: 0;
}

input {
    background-color: #e9906e7a;
    height: 35px;
    border-width: 0;
    vertical-align: middle;
}

::placeholder {
    color: white;
    padding: 10px 15px;
}

:focus {
    outline: none;
}

#srch-img {
    height: 15px;
    padding: 10px;
    background-color: #e9906e7a;
    vertical-align: middle;
}
/* Navbar end */

/* Home start */
.home-container {
    height: 500px;
    background: linear-gradient(#000000ab, #030204bd, #010204ad), url(./img/banner.jpg);;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid darkgoldenrod; */
}

.hm-wrap {
    position: relative;
    height: 100%;
    /* border: 1px solid black; */
}

.hm-content {
    position: absolute;
    top: 15%;
    bottom: 15%;
    width: 100%;
    /* border: 1px solid red; */
    color: white;
}

.hm-content h1 {
    font-size: 70px;
}

.hm-content p {
    font-size: 25x;
    margin-top: 10px;
    margin-bottom: 10px;
}

#view-btn {
    color: rgba(205, 77, 38, 0.95);
    background-color: white;
    height: 50px;
    width: 170px;
    border: none;
    font-weight: bold;
}

#play-btn {
    background-color: rgba(205, 77, 38, 0.95);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 18px;
    vertical-align: middle;
    margin: 0 20px;
}

.hm-content h4 {
    display: inline-block;
}

.hm-text {
    margin-right: 10px;
}
/* Home end */

/* Services start */
.srvc-box {
    float: left;
    height: 150px;
    width: 16.66%;
    background-color: rgba(3, 37, 44, 0.96);;
    color: white;
    border-right: 1px solid rgba(255, 255, 255, 0.308);
}

.srvc-box:hover {
    cursor: pointer;
}

.srvc-wrap {
    padding: 25px;
    height: 100%;
    /* border: 1px solid red; */
}

.srvc-wrap img {
    display: inline-block;
    height: 50px;    
    width: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.srvc-wrap h4 {
    display: inline-block;
    vertical-align: middle;
}
/* Services end */